.root {
  @apply text-beige font-bold gap-2 flex flex-col items-center transition-all rounded-default;

  > h3 {
    @apply text-2xl uppercase text-center;
  }

  > p {
    @apply max-w-[267px];

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > span {
    @apply text-center;
  }

  > img {
    @apply bg-white bg-opacity-40 rounded-default;
  }

  &:hover {
    @apply scale-110;
  }
}
