.root {
  @apply bg-white inline-flex p-[50px] flex-col rounded-default text-brown gap-[50px] items-start transition-all shadow-lg !important;

  > svg {
    @apply w-[59px] h-[32px] !important;
  }

  > p {
    @apply max-w-[300px] font-bold text-start;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    @apply scale-110;
  }
}

.rating {
  @apply font-bold flex items-center justify-between w-full;

  > div {
    @apply flex;
  }
}
